/* browses by default create a gap. */
* {
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(131, 50, 0);
    margin-top: 50px;
    margin-left: 100px;
}

.hero{
    text-align: center;
    height: 400px;
    border: 1px solid black;
    /* 4th 000 is black and the 4th parameter is a transparity a degree of 0-1 */
    background: url(./assets-recipes/cookies.png) center center no-repeat;
    /* center center for the x and y axis */
    background-size: cover;
}

/* only with the class .hero-title */
/* you always need to include the dot in css. for html, its just a shorthand. */
.hero-title {
    text-align: center;
    color:rgb(255, 228, 189);
    font-size: 120px;
    margin-right: 100px;
    /* line style, solid, dash */
}

.anchor{
    margin-left: 250px;
    color: rgb(169, 100, 16);
}

.home-anchor {
    margin-left: 250px;
    color: rgb(216, 33, 33);
}

p{
    text-align: left;
    color: rgb(149, 6, 6);
    margin-left: 100px;
    margin-right: 900px; 
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.alice-regular-font {
  font-family: "Alice", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
    width: 25%;
    height: 250px;
    float: right;
    display: block;
    margin-right: 50px;
    border-radius: 10%;
    border: 5px solid rgb(147, 98, 67);
}

