/* browses by default create a gap. */
/* css reset. Always have this at the top of your css code. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
  /* text-align: center; */
  color: rgb(131, 50, 0);
  margin-top: 50px;
  margin-left: 100px;
  user-select: none;
}

/* image behind title, container that holds the title */
.hero{
  text-align: center;
  height: 400px;
  width:  100%;
  /* width, type (design), colour */
  border: 10px solid rgb(255, 228, 189);
  /* 4th 000 is black and the 4th parameter is a transparity a degree of 0-1 */
  background: url(./assets-recipes/macaron.jpeg) center center no-repeat;
  /* center center for the x and y axis */
  background-size: cover;
  /* gives us some options and access to handy rules - one of those centers things inside containers. */
  display: flex;
  /* turns the row (vertical stuff) 90% so that it stucks up instead */
  flex-direction: column;
  /* vertical stuff */
  justify-content: center;
  align-items: center;
}

/* only with the class .hero-title */
.hero-title {
  color:rgb(255, 228, 189);
  font-size: 120px;
  /* line style, solid, dash */
}

.anchor{
  margin-left: 250px;
  color: rgb(169, 100, 16);
}

p{
  text-align: left;
  color: rgb(149, 6, 6);
  margin-left: 100px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.alice-regular-font {
font-family: "Alice", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.navbar {
  /* display to tell containers how to display the things inside of them. */
  /* to make them be beside of eachother */
  display: flex;
  /* display flex and justify-content go together. */
  justify-content: centre;
  background-color: rgb(239, 202, 147);
  border: 1px solid black;
}

.nav-link {
  border: 1px solid tomato;
  background-color: rgb(255, 209, 231);
  color: tomato;
  padding-left: 25px;
  padding-right: 25px;
  /* get rid of underlines */
  text-decoration: none;
  /* get rid of bullet points from list */
  font-size: 20px;
  font-weight: 700;
  margin: center auto;
}

.nav-link-center{
padding-left: 30px;
padding-right: 30px;
}

.nav-link-left{
margin-left: 750px;
padding-left: 30px;
padding-right: 30px;
}

.nav-link-right{
margin-right: 150px;
}

li {
  list-style: none;
}

/* whenever the mouse hovers over the link, it is going to change the css rules. */
.nav-link:hover {
  color: rgb(157, 47, 27);
  background-color: rgb(208, 154, 89);
  transition: 1.8s;
}

/* image cards */
img {
  width: 270px;
  height: 200px; */
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  border: 5px solid rgb(147, 98, 67);
  margin-right: 100px;
  margin-left: 20px;
  border-radius: 20%;
}

figure { 
  border: 1px;
  padding: 4px;
  margin: auto;
}

.recipe-title {
  text-align: justify;
  width: 270px;
}

h2 {
  color: rgb(131, 50, 0);
  margin-top: 50px;
  margin-left: 100px;
  font-weight: 900px;
  text-align: center;
}

.description {
  text-align: center;
}

.recipe-button {
  text-align: center;
  margin-left: 400px;
}

/* flexbox */