/* browses by default create a gap. */
* {
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(131, 50, 0);
    margin-top: 50px;
    margin-left: 100px;
}

.hero{
    text-align: center;
    height: 400px;
    border: 1px solid black;
    /* 4th 000 is black and the 4th parameter is a transparity a degree of 0-1 */
    background: url(./assets-recipes/macaron.jpeg) center center no-repeat;
    /* center center for the x and y axis */
    background-size: cover;
}

/* only with the class .hero-title */
/* you always need to include the dot in css. for html, its just a shorthand. */
.hero-title {
    color:rgb(255, 228, 189);
    border: 1px solid black;
    font-size: 120px;
    /* line style, solid, dash */
}

.anchor{
    margin-left: 250px;
    color: rgb(169, 100, 16);
}

p{
    text-align: left;
    color: rgb(149, 6, 6);
    margin-left: 100px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.alice-regular-font {
  font-family: "Alice", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    /* display to tell containers how to display the things inside of them. */
    /* to make them be beside of eachother */
    display: flex;
    /* display flex and justify-content go together. */
    justify-content: centre;
    background-color: rgb(147, 98, 67);
    border: 1px solid black;

}

.nav-link {
    border: 1px solid tomato;
    background-color: rgb(255, 209, 231);
    color: tomato;
    margin: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    /* get rid of underlines */
    text-decoration: none;
    /* get rid of bullet points from list */
    font-size: 20px;
    font-weight: 700;
    margin: center auto;
}

li {
    list-style: none;
}

/* whenever the mouse hovers over the link, it is going to change the css rules. */
.nav-link:hover {
    color: rgb(157, 47, 27);
    background-color: rgb(208, 154, 89);
    transition: 1.8s;
}

img {
    width: 270px;
    height: 200px;
    float: right;
    display: block;
    margin-right: 50px;
    border-radius: 20%;
    border: 5px solid rgb(147, 98, 67);
}

.example {
    background-color: greenyellow;
    width: 100px;
    text-align: center;
    border: 2px solid blue;
    padding: 50px;
    margin-top: 80px;
    margin-left: 50px;
  }

  figure { 
    border: 1px;
    padding: 4px;
    margin: auto;
  }

  figcaption {
    background-color: rgb(255, 204, 141);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }